@media screen (max-width: 1680px){
}

div {
    width: 32.25%;
    height: 250px;
    background-color: #5e0808;
    margin: 1px;
}

.mainportion {
    border: 3px solid black;
    width: 99vw;
    height: 50vh;
    background-color: #5e0808;
    margin: 5px;
}

.smallboxes{
    display: inline-flex;
}

body{
    background-color: #303030!important;
}

h2, form {
    color: white;
    text-align: center;
}

.lightning {
    position: absolute;
    z-index: 5;
}

.splatter {
    height: 390px;
    position: absolute;
    z-index: 6;
}

.clouds {
    position: absolute;
    width: 40vw;
    z-index: 6;
}

.skull{
    height:500px;
    width: 450px;
    position: absolute;
}

#roses {
    position: absolute;
}